<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<div class="page-heading">
				<h1>Contacto</h1>
				<span class="subheading">Tenés una duda? Ponete en contacto.</span>
			</div>
		</div>
	</div>
</header>
<section class="bg-light-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<p class="mb-4">Si querés ser contactado, completá el formulario y trataré de contactarte en menos de 24hs.</p>
				<div class="card">
					<h5 class="card-header">Contacto</h5>
					<div class="card-body">
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
									<md-form-field>
										<input mdInput class="form-control" placeholder="Nombre">
									</md-form-field>
								</div>
								<div class="form-group col-md-6">
									<md-form-field>
										<input mdInput class="form-control" placeholder="Apellido">
									</md-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<md-form-field>
										<input mdInput type="email" class="form-control" placeholder="Email">
									</md-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<md-form-field>
										<input mdInput type="text" class="form-control" placeholder="Telefono">
									</md-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<md-form-field>
										<textarea mdInput rows="5" class="form-control" placeholder="Mensaje"></textarea>
									</md-form-field>
								</div>
							</div>
							<button md-raised-button type="submit" color="accent" role="button">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>