<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<div class="page-heading">
				<h1>Contacto</h1>
				<span class="subheading">Tenés una duda? Ponete en contacto.</span>
			</div>
		</div>
	</div>
</header>
<section class="bg-light-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<p class="mb-4">Si querés ser contactado, completá el formulario y trataré de contactarte en menos de 24hs.</p>
				<div class="card">
					<h5 class="card-header">Contacto</h5>
					<div class="card-body">
						<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
							<div class="form-row">
								<div class="form-group col-md-6">
									<mat-form-field>
										<input matInput class="form-control" placeholder="Nombre" required [(ngModel)]="name" name="name">
									</mat-form-field>
								</div>
								<div class="form-group col-md-6">
									<mat-form-field>
										<input matInput class="form-control" placeholder="Apellido" required [(ngModel)]="lastName"
											name="lastName">
									</mat-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<mat-form-field>
										<input matInput type="email" class="form-control" placeholder="Email" [(ngModel)]="email"
											name="email" email required aria-describedby="emailHelperBlock">
									</mat-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<mat-form-field>
										<input matInput type="text" class="form-control" placeholder="Telefono" [(ngModel)]="phone"
										 	name="phone">
									</mat-form-field>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md">
									<mat-form-field>
										<textarea matInput rows="5" class="form-control" placeholder="Mensaje" required [(ngModel)]="message"
										 	name="message"></textarea>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 pb-3 mx-auto">
									<re-captcha name="captchaToken"
										class="g-recaptcha"
										siteKey="6LdlfTsUAAAAADpUiMbnFICV3cLoGhB5qWb1IcUV" 
										required
										[(ngModel)]="captchaToken"
										#captchaControl="ngModel"></re-captcha>
								</div>
							</div>
							<button mat-raised-button type="submit" color="accent" role="button" [disabled]="!contactForm.valid || !captchaControl.valid">Enviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="loadingModal" #modal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-keyboard="false" data-focus="true" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<div class="container">
				<mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
			</div>
		</div>
	</div>
</section>