<nav [@navbarAnimations]="shrinkNav ? 'shrink' : 'enlarge'" class="navbar navbar-expand-md fixed-top" id="mainNav">
	<a routerLink="home" class="navbar-brand">JMDigital</a>
	<button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
		<a class="navbar-toggler-icon">
			<i class="fa fa-2x fa-bars" aria-hidden="true"></i>
		</a>
	</button>
	<div class="navbar-collapse" [collapse]="isCollapsed">
		<ul mat-tab-nav-bar class="ml-auto navbar-nav" role="navigation">
			<li mat-tab-link *ngFor="let tabLink of tabLinks;">
				<a [routerLink]="tabLink.Link" routerLinkActive="active">{{tabLink.Label}}
				</a>
			</li>
		</ul>
	</div>
</nav>
